.container{
    width: 100%;
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    & .titulo{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        font-size: 22px;
        color: #222;
        letter-spacing: 1.5px;
        padding: 50px 0px;
    }
    & .titulo h1::after{
        content: "";
        height: 6px;
        width: 180px;
        background-color: #222;
        border-radius: 6px;
        position: relative;
        display: block;
        margin: auto;
    }
}

.content{
    width:70%;
    display: flex;
    margin: 30px auto;
    & .articulo{
        box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
        background-color: #eee;
        padding: 25px 25px;
    }
    & .articulo h2{
        color: #00c8ff;
        font-size:22px;
        line-height: 1.5;
        letter-spacing: 1px;
    }
    & .articulo p{
        margin-top: 30px;
        font-size: 19px;
        line-height: 1.5;
        color: #222;
    }
    & .articulo a{
        font-size: 22px;
        text-decoration: none;
        display: inline-block;
        padding: 12px 35px;
        background-color: #cc0000;
        border-radius: 25px;
        color: #fff;
        border: 1px solid #cc0000;
        letter-spacing: 1.5px;
        margin-top: 35px;
    }
    & .articulo a:hover{
        background-color: #fff;
        color: #cc0000;
        transition: 0.2s ease;
    }
}

.title{
    text-align: center;
}

.img-section{
    // width: 800px;
    justify-content: center;
    & img{
        align-self: center;
    }
}

@media screen and (max-width:900px){
    .articulo{
        text-align: center;
    }
} 
// @media screen and (max-width:900px) {
//     .img-section{
//         width: 400px;
//         margin:auto auto auto auto;
//         & img{
//             width: 85%;
//         }
//     }
// }